#wildlex_map {
  position: relative;
  //float:left;
  //display:inline;
  //width: 850px;
  width:100%;
  height:650px;
}
.datamaps-subunit {
  &[data-info] {
    cursor: pointer;
  }
}

.wildlex_map-buttons {
  margin-bottom: 20px;
}







