#wildlex_map {
  position: relative;
  width:100%;
  height:650px;
}

.search-modal-opener {
  background-image: url('../img/icons/earth.png');
  background-repeat:no-repeat;
  background-position: 5px center;
  border-radius: 5px;
  border: 1px solid #e67e22;
  color: #e67e22;
  font-size: 14px;
  margin-bottom: 5px;
  padding: 5px 15px 5px 35px;
  text-align: center;
  &:hover,
  &:focus {
    background-color: transparent;
    border-color: #e67e22;
    color: #e67e22;
  }
}
#search_modal{
  .btn-primary{
    background: transparent;
    color:#e67e22;
  }
}

.datamaps-subunit {
  &[data-info] {
    cursor: pointer;
  }
}

.wildlex_map-buttons {
  margin-bottom: 20px;
}







