.sort-map-group {
  display: inline-block;
  width: 100%;
  align-items: center;

  .view-header, .attachment-before {
    float: left;
    margin-top: 3px;
  }

  .attachment-before {
    margin-left: 5px;
  }

  .view-filters {
    float: right;
    padding-bottom: 11px;

    .form--inline.form-inline.clearfix {
      float: right !important;
    }

    .form-item-sort-by {
      float: none;
    }
  }

  #edit-sort-by {
    .form-group {
      padding: 0 5px 0 5px;
    }
  }

  .strong {
    font-weight: 600;
    color: black !important;

    &:hover {
      text-decoration: none;
      cursor:auto;
    }
  }

}

#block-country, #block-country-3, #block-legislationcountry, #block-literaturelanguage, #block-language-2, #block-language, #block-species, #block-typeofcourt, #block-territorialsubdivisions,
#block-yearperiod, #block-legislationyearperiod, #block-literatureyearperiod {
  li {
    list-style: none;
  }

  .facet-slider {
    width: 180px !important;
  }
}
.path-search-test {
  .page-header {
    display: none;
  }
  #edit-sort-by .form-group {
    float: right;
  }
}
