<div id="wildlex_map">
  <div class="wildlex_map-buttons">
    <!--<a href="#" class="btn btn-primary zoom-button" data-zoom="reset">reset</a>-->
    <a href="#" class="btn btn-primary zoom-button" data-zoom="out">zoom out</a>
    <a href="#" class="btn btn-primary zoom-button" data-zoom="in">zoom in</a>
    <!--<div id="zoom-info"></div>-->
  </div>
</div>

