.block + .block {
  margin-top: 40px;
}
.block-title {
  font-size: 18px;
  margin-top: 0;
}
#block-otherresources dl {
  margin-bottom: 0;
}
#block-otherresources dl > dd {
  margin-bottom: 11px;
}
#block-otherresources dl > dd:last-child {
  margin-bottom: 0;
}
#block-searchfilters {
  font-size: 14px;
}
#block-searchfilters .checkbox {
  float: right;
  margin-top: 0;
}
#block-searchfilters .filter-label {
  display: block;
  margin-bottom: 4px;
}
#block-searchfilters .facet-title {
  float: left;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 4px;
  margin-top: 4px;
}
#block-searchfilters .select-wrapper:after {
  content: none;
}
#block-searchfilters .search-submit {
  display: none;
}
#block-usefullinks {
  font-size: 14px;
}
#block-usefullinks ul {
  list-style: none;
  padding-left: 0;
}
.field--label {
  color: #212121;
  font-size: 14px;
  padding-top: 3px;
}
.file {
  font-size: 14px;
  font-weight: normal;
  max-width: 600px;
  position: relative;
}
.file .thumbnail {
  background-position: 13px center;
  background-repeat: no-repeat;
  margin-bottom: 0;
  padding: 9px 9px 9px 48px;
}
.file .thumbnail:hover,
.file .thumbnail:focus {
  text-decoration: none;
}
.file:hover .thumbnail,
.file:focus .thumbnail {
  border-color: #1c5479;
}
.file:hover .file-reveal,
.file:focus .file-reveal {
  visibility: visible;
}
.file.file--application-pdf .thumbnail {
  background-image: url("../img/icons/file-pdf.png");
}
.file.file--application-x-executable .thumbnail {
  background-image: url("../img/icons/file-executable.png");
}
.file.file--audio .thumbnail {
  background-image: url("../img/icons/file-audio.png");
}
.file.file--general .thumbnail {
  background-image: url("../img/icons/file-general.png");
}
.file.file--image .thumbnail {
  background-image: url("../img/icons/file-image.png");
}
.file.file--package-x-generic .thumbnail {
  background-image: url("../img/icons/file-package.png");
}
.file.file--text .thumbnail {
  background-image: url("../img/icons/file-text.png");
}
.file.file--text-html .thumbnail {
  background-image: url("../img/icons/file-html.png");
}
.file.file--text-x-script .thumbnail {
  background-image: url("../img/icons/file-script.png");
}
.file.file--video .thumbnail {
  background-image: url("../img/icons/file-spreadsheet.png");
}
.file.file--x-office-document .thumbnail {
  background-image: url("../img/icons/file-document.png");
}
.file.file--x-office-presentation .thumbnail {
  background-image: url("../img/icons/file-presentation.png");
}
.file.file--x-office-spreadsheet .thumbnail {
  background-image: url("../img/icons/file-spreadsheet.png");
}
.file-name {
  color: #1c5479;
  font-weight: 700;
}
.file-info {
  color: #808080;
}
.file-actions {
  position: absolute;
  right: 13px;
  top: 13px;
}
.file-reveal {
  visibility: hidden;
}
.court-decision.full .field {
  margin-bottom: 11px;
}
@media (min-width: 992px) {
  .court-decision.full .field--label {
    text-align: right;
  }
}
.court-decision.search-result {
  font-size: 14px;
  margin-bottom: 22px;
}
.court-decision.search-result h2 {
  font-size: 18px;
  margin-bottom: 1px;
  margin-top: 0;
}
.court-decision.search-result em {
  font-style: normal;
  font-weight: 700;
}
.court-decision.search-result .field--name-field-court-jurisdiction,
.court-decision.search-result .field--name-field-territorial-subdivisions,
.court-decision.search-result .field--name-field-court,
.court-decision.search-result .field--name-field-seat-of-court,
.court-decision.search-result .field--name-field-country,
.court-decision.search-result .field--name-field-date-of-text,
.court-decision.search-result .field--name-field-reference-number,
.court-decision.search-result .field--name-field-court-jurisdiction .field--items,
.court-decision.search-result .field--name-field-territorial-subdivisions .field--items,
.court-decision.search-result .field--name-field-court .field--items,
.court-decision.search-result .field--name-field-seat-of-court .field--items,
.court-decision.search-result .field--name-field-country .field--items,
.court-decision.search-result .field--name-field-date-of-text .field--items,
.court-decision.search-result .field--name-field-reference-number .field--items,
.court-decision.search-result .field--name-field-court-jurisdiction .field--item,
.court-decision.search-result .field--name-field-territorial-subdivisions .field--item,
.court-decision.search-result .field--name-field-court .field--item,
.court-decision.search-result .field--name-field-seat-of-court .field--item,
.court-decision.search-result .field--name-field-country .field--item,
.court-decision.search-result .field--name-field-date-of-text .field--item,
.court-decision.search-result .field--name-field-reference-number .field--item {
  display: inline;
}
.court-decision.search-result .field--name-field-court-jurisdiction a {
  color: #090;
}
.court-decision.search-result .field--name-field-territorial-subdivisions,
.court-decision.search-result .field--name-field-court,
.court-decision.search-result .field--name-field-seat-of-court,
.court-decision.search-result .field--name-field-country,
.court-decision.search-result .field--name-field-date-of-text,
.court-decision.search-result .field--name-field-reference-number,
.court-decision.search-result .field--name-field-territorial-subdivisions a,
.court-decision.search-result .field--name-field-court a,
.court-decision.search-result .field--name-field-seat-of-court a,
.court-decision.search-result .field--name-field-country a,
.court-decision.search-result .field--name-field-date-of-text a,
.court-decision.search-result .field--name-field-reference-number a {
  color: #808080;
}
.court-decision.search-result .field--name-field-territorial-subdivisions:before,
.court-decision.search-result .field--name-field-court:before,
.court-decision.search-result .field--name-field-seat-of-court:before,
.court-decision.search-result .field--name-field-country:before,
.court-decision.search-result .field--name-field-date-of-text:before,
.court-decision.search-result .field--name-field-reference-number:before {
  color: #ccc;
  content: "\2013";
}
.court-decision.search-result .field--name-field-abstract {
  margin-top: 2px;
}
#search-form .form-control {
  border-radius: 5px;
  height: 44px;
  padding-right: 120px;
}
#search-form .has-feedback .form-control {
  padding-left: 44px;
}
#search-form .form-control-feedback {
  height: 44px;
  left: 0;
  line-height: 44px;
  right: auto;
  width: 44px;
}
#search-form .btn {
  line-height: 22px;
  position: absolute;
  right: 4px;
  top: 4px;
  width: 100px;
}
#search-form .btn-primary {
  background-color: #0077c0;
  border-color: #0077c0;
  color: #fff;
}
#search-form .btn-primary:focus,
#search-form .btn-primary.focus {
  background-color: #00578d;
  border-color: #002841;
  color: #fff;
}
#search-form .btn-primary:hover {
  background-color: #00578d;
  border-color: #005183;
  color: #fff;
}
#search-form .btn-primary:active,
#search-form .btn-primary.active,
.open > .dropdown-toggle#search-form .btn-primary {
  background-color: #00578d;
  border-color: #005183;
  color: #fff;
}
#search-form .btn-primary:active:hover,
#search-form .btn-primary.active:hover,
.open > .dropdown-toggle#search-form .btn-primary:hover,
#search-form .btn-primary:active:focus,
#search-form .btn-primary.active:focus,
.open > .dropdown-toggle#search-form .btn-primary:focus,
#search-form .btn-primary:active.focus,
#search-form .btn-primary.active.focus,
.open > .dropdown-toggle#search-form .btn-primary.focus {
  background-color: #004169;
  border-color: #002841;
  color: #fff;
}
#search-form .btn-primary:active,
#search-form .btn-primary.active,
.open > .dropdown-toggle#search-form .btn-primary {
  background-image: none;
}
#search-form .btn-primary.disabled:hover,
#search-form .btn-primary[disabled]:hover,
fieldset[disabled] #search-form .btn-primary:hover,
#search-form .btn-primary.disabled:focus,
#search-form .btn-primary[disabled]:focus,
fieldset[disabled] #search-form .btn-primary:focus,
#search-form .btn-primary.disabled.focus,
#search-form .btn-primary[disabled].focus,
fieldset[disabled] #search-form .btn-primary.focus {
  background-color: #0077c0;
  border-color: #0077c0;
}
#search-form .btn-primary .badge {
  background-color: #fff;
  color: #0077c0;
}
.search-header {
  border-bottom: 1px solid #ddd;
  font-size: 14px;
  margin-bottom: 22px;
}
.search-header:before,
.search-header:after {
  content: " ";
  display: table;
}
.search-header:after {
  clear: both;
}
.search-header .pull-left {
  margin-bottom: 11px;
}
.search-header strong {
  color: #212121;
}
#edit-year .facet-title {
  float: none;
}
#edit-year .clearfix {
  margin-top: 11px;
}
#edit-year .form-control {
  border-radius: 0;
  border-width: 0 0 1px;
  box-shadow: none;
  display: inline-block;
  font-size: inherit;
  height: 30px;
  padding: 0;
  width: 4em;
}
#edit-year .btn-link {
  border: 0;
  font-size: inherit;
  line-height: 30px;
  padding: 0;
}
#edit-year .btn-link .glyphicon {
  vertical-align: middle;
}
html {
  min-height: 100vh;
  position: relative;
}
body {
  padding-bottom: 158px;
  position: static;
}
body.path-frontpage {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  padding-bottom: 95px;
}
.footer {
  background-color: #eee;
  border-color: #ddd;
  bottom: 0;
  color: #808080;
  font-size: 14px;
  height: 95px;
  padding-bottom: 27px;
  padding-top: 26px;
  position: absolute;
  width: 100%;
}
.footer a {
  color: #808080;
}
.footer a:hover,
.footer a:focus {
  color: #666;
}
.footer .logos {
  float: left;
  margin: -1px 0 0 -10px;
}
.footer .logos > li {
  padding-left: 10px;
  padding-right: 10px;
}
.footer .logos a {
  display: block;
}
#block-iucn-frontend-footer {
  float: right;
}
#block-iucn-frontend-footer .nav > li > a:hover,
#block-iucn-frontend-footer .nav > li > a:focus {
  text-decoration: underline;
}
@font-face {
  font-family: "ecolex-icons";
  src: url("../fonts/ecolex-icons.eot");
  src: url("../fonts/ecolex-icons.eot?#iefix") format("embedded-opentype"), url("../fonts/ecolex-icons.woff") format("woff"), url("../fonts/ecolex-icons.ttf") format("truetype"), url("../fonts/ecolex-icons.svg#ecolex-icons") format("svg");
}
.ecolexicon {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-family: "ecolex-icons";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  position: relative;
  top: 1px;
}
.ecolexicon-cop-decision:before {
  content: "\e600";
}
.ecolexicon-court-decision:before {
  content: "\e601";
}
.ecolexicon-legislation:before {
  content: "\e602";
}
.ecolexicon-literature:before {
  content: "\e603";
}
.ecolexicon-treaty:before {
  content: "\e604";
}
.ecolexicon-drop-down:before {
  content: "\e605";
}
.ecolexicon-drop-up:before {
  content: "\e606";
}
.ecolexicon-close:before {
  content: "\e607";
}
.ecolexicon-menu:before {
  content: "\e608";
}
.ecolexicon-search:before {
  content: "\e609";
}
.ecolexicon-list-add:before {
  content: "\e60a";
}
.ecolexicon-vellip:before {
  content: "\e60b";
}
.ecolexicon-pointer:before {
  content: "\e610";
}
.ecolexicon-time:before {
  content: "\e60d";
}
.ecolexicon-globe:before {
  content: "\e60e";
}
.ecolexicon-new-window:before {
  content: "\e60f";
}
.navbar {
  font-size: 14px;
}
.jumbotron {
  margin-bottom: 45px;
  padding-bottom: 30px;
  padding-top: 30px;
}
.path-frontpage .jumbotron {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
      -ms-flex: 1 1 0;
          flex: 1 1 0;
  margin-bottom: 0;
}
.jumbotron h1 {
  margin-bottom: 0;
  margin-top: 0;
}
.jumbotron .text-primary {
  color: #0095f3;
}
.path-frontpage .jumbotron .text-primary {
  margin-bottom: 30px;
}
.jumbotron .form-control {
  background-color: #455e82;
  border: 0;
  box-shadow: 0 3px 9px rgba(0, 0, 0, .175);
  color: #fff;
  -webkit-transition: all ease-in-out .15s;
          transition: all ease-in-out .15s;
}
.jumbotron .form-control::-moz-placeholder {
  color: #8b9bb1;
  -webkit-transition: color ease-in-out .15s;
          transition: color ease-in-out .15s;
}
.jumbotron .form-control:-ms-input-placeholder {
  color: #8b9bb1;
  -webkit-transition: color ease-in-out .15s;
          transition: color ease-in-out .15s;
}
.jumbotron .form-control::-webkit-input-placeholder {
  color: #8b9bb1;
  -webkit-transition: color ease-in-out .15s;
          transition: color ease-in-out .15s;
}
.jumbotron .form-control:focus {
  background-color: #fff;
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  color: #212121;
}
.jumbotron .form-control:focus::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.jumbotron .form-control:focus:-ms-input-placeholder {
  color: #999;
}
.jumbotron .form-control:focus::-webkit-input-placeholder {
  color: #999;
}
.jumbotron .form-control:focus + .form-control-feedback {
  color: #666;
}
.jumbotron .form-control-feedback {
  color: #a2afc1;
  -webkit-transition: color ease-in-out .15s;
          transition: color ease-in-out .15s;
}
.jumbotron .list-inline {
  font-size: 14px;
  margin-bottom: 0;
  margin-top: 30px;
}
.jumbotron .list-inline a {
  color: #fff;
  display: block;
  padding: 5px;
}
.jumbotron .list-inline a:hover,
.jumbotron .list-inline a:focus {
  color: #0095f3;
  text-decoration: none;
}
.jumbotron .ecolexicon {
  display: block;
  font-size: 44px;
  margin-bottom: 5px;
}
.page-title {
  border-bottom: 1px solid #ddd;
  margin-bottom: 22px;
  padding-bottom: 10px;
}
.page-title .ecolexicon {
  color: #808080;
  display: block;
  font-size: 36px;
  margin-bottom: 11px;
  margin-top: 22px;
  text-align: right;
}
.page-title h1 {
  font-size: 18px;
}
@media (min-width: 992px) {
  .page-title > .row {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
  }
}
.panel-body > hr {
  margin-left: -15px;
  margin-right: -15px;
}
.panel-default > .panel-heading {
  background-color: transparent;
}
.pagination {
  border-top: 1px solid #ddd;
  display: block;
  font-size: 14px;
  margin-bottom: 0;
  padding-top: 22px;
  text-align: center;
}
.pagination > li {
  display: inline-block;
}
.pagination > li > a,
.pagination > li > span {
  border-color: #ddd;
  border-radius: 3px;
  box-shadow: 0 0 3px rgba(0, 0, 0, .05);
  color: #333;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  background-color: #eee;
  border-color: #ddd;
  color: #333;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #0077c0;
  border-color: #0077c0;
  color: #fff;
}
.pagination > .disabled > a,
.pagination > .disabled > span,
.pagination > .disabled > a:hover,
.pagination > .disabled > span:hover,
.pagination > .disabled > a:focus,
.pagination > .disabled > span:focus {
  background-color: #eee;
  border-color: #ddd;
  box-shadow: none;
}
.pagination > .ellipsis > span,
.pagination > .ellipsis > span:hover,
.pagination > .ellipsis > span:focus {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  color: #808080;
}
.pager__item--first {
  float: left;
}
.pager__item--last {
  float: right;
}
.blankslate {
  font-size: 14px;
  padding: 60px 120px;
  text-align: center;
}
.blankslate .ecolexicon {
  color: #999;
  display: block;
  font-size: 36px;
}
.blankslate-title {
  font-size: 18px;
}
.label .close {
  color: #fff;
  float: none;
  font-size: inherit;
  opacity: .4;
  text-shadow: 0 -1px 0 #000;
}
.label .close:hover,
.label .close:focus {
  opacity: .8;
}
.bootstrap-switch {
  border-color: #eee;
  border-radius: 10px;
}
.bootstrap-switch .bootstrap-switch-container {
  background-color: #eee;
}
.bootstrap-switch.bootstrap-switch-off .bootstrap-switch-label,
.bootstrap-switch.bootstrap-switch-inverse.bootstrap-switch-off .bootstrap-switch-label,
.bootstrap-switch.bootstrap-switch-on .bootstrap-switch-label,
.bootstrap-switch.bootstrap-switch-inverse.bootstrap-switch-on .bootstrap-switch-label {
  border-radius: 50%;
}
.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-label {
  line-height: 1.4;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-default,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default,
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {
  color: #808080;
  background: transparent;
}
.bootstrap-switch.bootstrap-switch-on {
  border-color: #0077c0;
}
.bootstrap-switch.bootstrap-switch-on .bootstrap-switch-container {
  background-color: #0077c0;
}
.bootstrap-switch.bootstrap-switch-on .bootstrap-switch-handle-on.bootstrap-switch-default,
.bootstrap-switch.bootstrap-switch-on .bootstrap-switch-handle-off.bootstrap-switch-default,
.bootstrap-switch.bootstrap-switch-on .bootstrap-switch-handle-on.bootstrap-switch-primary,
.bootstrap-switch.bootstrap-switch-on .bootstrap-switch-handle-off.bootstrap-switch-primary {
  color: #fff;
}
.bootstrap-switch.bootstrap-switch-animate .bootstrap-switch-container {
  -webkit-transition-property: all;
          transition-property: all;
}
.bootstrap-switch.bootstrap-switch-animate .bootstrap-switch-handle-on.bootstrap-switch-default,
.bootstrap-switch.bootstrap-switch-animate .bootstrap-switch-handle-off.bootstrap-switch-default,
.bootstrap-switch.bootstrap-switch-animate .bootstrap-switch-handle-on.bootstrap-switch-primary,
.bootstrap-switch.bootstrap-switch-animate .bootstrap-switch-handle-off.bootstrap-switch-primary {
  -webkit-transition: color .5s;
          transition: color .5s;
}
#sliding-popup {
  font-size: 14px;
  text-align: center;
}
#sliding-popup .list-inline > li {
  margin-top: 11px;
  vertical-align: middle;
}
#sliding-popup .find-more-button {
  color: #fff;
}
.irs-line-mid,
.irs-line-left,
.irs-line-right,
.irs-bar,
.irs-bar-edge,
.irs-slider {
  background: url("../img/sprite-skin-flat.png") repeat-x;
}
.irs {
  height: 40px;
}
.irs-with-grid {
  height: 60px;
}
.irs-line {
  height: 12px;
  top: 25px;
}
.irs-line-left {
  background-position: 0 -30px;
  height: 12px;
}
.irs-line-mid {
  background-position: 0 0;
  height: 12px;
}
.irs-line-right {
  background-position: 100% -30px;
  height: 12px;
}
.irs-bar {
  background-position: 0 -60px;
  height: 12px;
  top: 25px;
}
.irs-bar-edge {
  background-position: 0 -90px;
  height: 12px;
  top: 25px;
  width: 9px;
}
.irs-shadow {
  background: #000;
  height: 3px;
  opacity: .25;
  top: 34px;
}
.lt-ie9 .irs-shadow {
  filter: alpha(opacity=25);
}
.irs-slider {
  background-position: 0 -120px;
  height: 18px;
  top: 22px;
  width: 16px;
}
.irs-slider.state_hover,
.irs-slider:hover {
  background-position: 0 -150px;
}
.irs-min,
.irs-max {
  background: #eee;
  border-radius: 4px;
  color: #808080;
  font-size: 10px;
  line-height: 1.333;
  padding: 1px 3px;
  text-shadow: none;
  top: 0;
}
.irs-from,
.irs-to,
.irs-single {
  background: #0077c0;
  border-radius: 4px;
  color: #fff;
  font-size: 10px;
  line-height: 1.333;
  padding: 1px 5px;
  text-shadow: none;
}
.irs-from:after,
.irs-to:after,
.irs-single:after {
  border-top-color: #0077c0;
  border: 3px solid transparent;
  bottom: -6px;
  content: " ";
  display: block;
  height: 0;
  left: 50%;
  margin-left: -3px;
  overflow: hidden;
  position: absolute;
  width: 0;
}
.irs-grid-pol {
  background: #ddd;
}
.irs-grid-text {
  color: #999;
}
.select2-container {
  font-size: 14px;
}
.select2-container .select2-dropdown {
  border-radius: 0;
  border: 1px solid #ddd;
  box-shadow: 0 0 3px rgba(0, 0, 0, .05);
  color: #333;
  z-index: 1000;
}
.select2-container--default .select2-selection--multiple {
  border: none;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  padding: 0;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #eee;
  border-color: #ddd;
  padding-bottom: 2px;
  padding-top: 2px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice .option {
  display: inline-block;
  max-width: 182px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: bottom;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice .badge {
  background-color: #333;
  vertical-align: baseline;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice + .select2-search {
  margin-top: 5px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  margin-right: 0;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: none;
}
.select2-container--default .select2-results__option {
  border-top-color: #fafafa;
}
.select2-container--default .select2-results__option .counter {
  color: #999;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #f5f5f5;
  color: inherit;
}
.select2-container--default .select2-results__option[aria-selected="true"] {
  background-color: #fafafa;
  font-weight: 700;
}
.select2-container--default .select2-results__option[aria-selected="true"] .counter {
  font-weight: normal;
}
.select2-results__option {
  border-top: 1px solid transparent;
  line-height: 1;
  padding: 10px 16px;
}
.select2-results__option:first-child {
  border-top: 0;
}
.select2-results__option .counter {
  float: right;
  margin-left: 10px;
}
/*# sourceMappingURL=style.css.map */
