.block {
  font-size: 14px;

  + .block {
    margin-top: 22px;
  }
}

.block-title {
  font-size: 18px;
}

#block-searchfilters {
  .checkbox {
    float: right;
    margin-top: 0;
  }

  .facet-title {
    float: left;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 4px;
    margin-top: 4px;
  }

  .select-wrapper {
    &:after {
      content: none;
    }
  }

  .search-submit {
    display: none;
  }
}

#block-usefullinks {
  ul {
    list-style: none;
    padding-left: 0;
  }
}
