.block {
  + .block {
    margin-top: 40px;
  }
}

.block-title {
  font-size: 18px;
  margin-top: 0;
}

#block-otherresources {
  dl {
    margin-bottom: 0;

    > dd {
      margin-bottom: 11px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

#block-searchfilters {
  font-size: 14px;

  .facet-container {
    .clearfix();

    .facet-title {
      padding-left: 15px;
      pointer-events: none;
      position: relative;

      &:before {
        color: #999;
        content: "+";
        display: inline-block;
        left: 0;
        position: absolute;
      }
    }

    &:hover {
      .facet-title {
        &:before {
          color: #06c;
        }
      }
    }
  }

  .checkbox {
    float: right;
    margin-bottom: 0;
    margin-top: 0;
    z-index: 1;
  }

  .filter-label {
    display: block;
    margin-bottom: 4px;
  }

  .facet-title {
    float: left;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 4px;
    margin-top: 4px;
  }

  .select-wrapper {
    clear: both;

    &:after {
      content: none;
    }
  }

  .select-wrapper,
  .select2-container,
  .select2-selection__rendered {
    display: block;
  }

  .select2-selection--multiple {
    min-height: auto;
  }

  .select2-search {
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: -29px;
  }

  .select2-search__field {
    cursor: pointer;
  }

  .select2-container--open .select2-search {
    opacity: 1;
    position: static;
  }

  .select2-container--open .select2-search__field {
    cursor: text;
  }

  .search-submit {
    display: none;
  }
}

#block-usefullinks {
  font-size: 14px;

  ul {
    list-style: none;
    padding-left: 0;
  }
}
