.block {
  + .block {
    margin-top: 22px;
  }
}

.block-title {
  font-size: 18px;
}

.block-get-started {
  &.panel {
    border-width: 2px;

    @media (max-width: 991px) {
      margin-bottom: 22px;
    }

    @media (min-width: 992px) {
      display: flex;
      align-items: center;
    }
  }

  .panel-body {
    @media (min-width: 992px) {
    }
  }
}

#block-otherresources {
  dl {
    margin-bottom: 0;

    > dd {
      margin-bottom: 11px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

#block-searchfilters {
  font-size: 14px;

  .checkbox {
    float: right;
    margin-top: 0;
  }

  .filter-label {
    display: block;
    margin-bottom: 4px;
  }

  .facet-title {
    float: left;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 4px;
    margin-top: 4px;
  }

  .select-wrapper {
    &:after {
      content: none;
    }
  }

  .search-submit {
    display: none;
  }
}

#block-usefullinks {
  font-size: 14px;

  ul {
    list-style: none;
    padding-left: 0;
  }
}
