.court-decision {
  .field--name-field-justices {
    .field--item {
      display: inline;
    }
  }

  &.full {
    .field {
      margin-bottom: 11px;
    }

    @media (min-width: 992px) {
      .field--label {
        text-align: right;
      }
    }
  }

  &.search-result {
    h2  {
      font-size: 18px;
      margin-bottom: 0;
      margin-top: 0;
    }

    .field--label {
      display: inline-block;

      &:after {
        content: ':';
      }
    }

    .field--items,
    .field--item {
      display: inline;
    }
  }
}
