.court-decision {
  .field--name-field-justices {
    .field--item {
      display: inline;
    }
  }

  &.full {
    .field {
      margin-bottom: 11px;
    }

    @media (min-width: 992px) {
      .field--label {
        text-align: right;
      }
    }
  }
}
