.court-decision {
  .field--name-field-justices {
    .field--item {
      display: inline;
    }
  }

  &.full {
    .field {
      margin-bottom: 11px;
    }

    @media (min-width: 992px) {
      .field--label {
        text-align: right;
      }
    }
  }

  &.search-result {
    margin-bottom: 22px;
    max-width: 750px;

    h2  {
      font-size: 18px;
      margin-bottom: 1px;
      margin-top: 0;
    }

    .field--name-field-type-of-text,
    .field--name-field-country,
    .field--name-field-court-name,
    .field--name-field-date-of-entry,
    .field--name-field-isis-number {
      &,
      .field--items,
      .field--item {
        display: inline;
      }
    }

    .field--name-field-type-of-text {
      color: #090;
    }

    .field--name-field-country,
    .field--name-field-court-name,
    .field--name-field-date-of-entry,
    .field--name-field-isis-number {
      color: #808080;

      &:before {
        color: #ccc;
        content: "\2013";
      }
    }

    .field--name-field-abstract {
      margin-top: 2px;
    }
  }
}
