html {
  min-height: 100vh;
  position: relative;
}

body {
  padding-bottom: 146px;
  position: static;

  &.path-frontpage {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-bottom: 100px;
  }
}

.footer {
  border-color: #ddd;
  bottom: 0;
  color: #808080;
  font-size: 14px;
  min-height: 100px;
  padding-bottom: 16px;
  padding-top: 16px;
  position: absolute;
  width: 100%;

  a {
    color: #808080;
  }

  a:hover,
  a:focus {
    color: #666;
  }

  .logos {
    float: left;
    margin: 0 0 0 -10px;

    a {
      display: block;
    }
  }
}

#block-iucn-frontend-footer {
  float: right;
  margin-top: 14px;

  .nav > li > a {
    &:hover,
    &:focus {
      background-color: transparent;
      text-decoration: underline;
    }
  }
}
