html {
  min-height: 100vh;
  position: relative;
}

body {
  padding-bottom: 158px;
  position: static;

  &.path-frontpage {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-bottom: 113px;
  }
}

.footer {
  background-color: #eee;
  border-color: #ddd;
  bottom: 0;
  color: #808080;
  font-size: 14px;
  height: 113px;
  position: absolute;
  width: 100%;

  a {
    color: #808080;
  }

  a:hover,
  a:focus {
    color: #666;
  }

  .logos {
    float: left;
    margin-bottom: 0;
    margin-top: -1px;
  }

  .logos li {
    padding-right: 25px;
  }
}

#block-iucn-frontend-footer {
  float: right;

  .nav > li > a {
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}
