.jumbotron {
  background: url('../img/bg.jpg') center center no-repeat;
  background-size: cover;
  margin-bottom: 45px;
  padding-bottom: 30px;
  padding-top: 30px;

  .path-frontpage & {
    background-position: center bottom;
    height: calc(100vh - 182px);
    margin-bottom: 0;
    min-height: 231px;

    > .container {
      display: table;
      height: 100%;

      > .row {
        display: table-cell;
        vertical-align: middle;
      }
    }
  }

  h1 {
    margin-bottom: 0;
    margin-top: 0;
  }

  .text-primary {
    color: #e67e22;
  }

  .form-control {
    background-color: #455e82;
    border: 0;
    box-shadow: 0 3px 9px rgba(0, 0, 0, .175);
    color: #fff;
    transition: all ease-in-out .15s;

    &::-moz-placeholder {
      color: #8b9bb1;
      transition: color ease-in-out .15s;
    }

    &:-ms-input-placeholder {
      color: #8b9bb1;
      transition: color ease-in-out .15s;
    }

    &::-webkit-input-placeholder {
      color: #8b9bb1;
      transition: color ease-in-out .15s;
    }

    &:focus {
      background-color: #fff;
      box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
      color: #212121;

      &::-moz-placeholder {
        color: #999;
        opacity: 1;
      }

      &:-ms-input-placeholder {
        color: #999;
      }

      &::-webkit-input-placeholder {
        color: #999;
      }

      + .form-control-feedback {
        color: #666;
      }
    }
  }

  .form-control-feedback {
    color: #a2afc1;
    transition: color ease-in-out .15s;
  }
}
