.jumbotron {
  margin-bottom: 45px;
  padding-bottom: 30px;
  padding-top: 30px;

  h1 {
    margin-bottom: 0;
    margin-top: 0;
  }

  .text-primary {
    color: #0095f3;

    .path-frontpage & {
      margin-bottom: 30px;
    }
  }

  .path-frontpage & {
    align-items: center;
    display: flex;
    flex: 1 1 0;
    margin-bottom: 0;
  }

  .list-inline {
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 30px;

    a {
      color: #fff;
      display: block;
      padding: 5px;

      &:hover,
      &:focus {
        color: #0095f3;
        text-decoration: none;
      }
    }
  }

  .ecolexicon {
    display: block;
    font-size: 44px;
    margin-bottom: 5px;
  }
}
