.jumbotron {
  h1 {
    margin-top: 0;
  }

  .text-primary {
    color: #0095f3;
  }
}

.panel {
  border-width: 2px;
}

.panel-tour {
  .tour-title {
    margin-top: 22px;
  }
}

.panel-resources {
  .list-resources {
    margin-bottom: 0;

    > dd {
      margin-bottom: 11px;
    }
  }
}

@media (min-width: 992px) {
  .row-flex,
  .col-flex {
    display: flex;
  }

  .panel-tour {
    align-items: center;
    display: flex;
  }
}
