[mysql]
default-character-set=utf8

[mysqld]
collation-server = utf8_unicode_ci
init-connect='SET NAMES utf8'
character-set-server = utf8
default-storage-engine=InnoDB
wait_timeout=10800
net_read_timeout = 7200
net_write_timeout = 7200

myisam_sort_buffer_size=64M
table_definition_cache=4096
table_open_cache=16384

thread_cache_size = 128

max_connections = 256
open_files_limit = 1024000

key_buffer_size=64M
key_cache_block_size=4K

sort_buffer_size=3M
read_buffer_size=2M
read_rnd_buffer_size=32M
join_buffer_size=8M

max_allowed_packet=1024M

innodb_file_per_table
innodb_thread_concurrency=0
innodb_strict_mode=1
innodb_log_file_size=512M
innodb_log_buffer_size=4M
innodb_buffer_pool_size=2G
innodb_flush_log_at_trx_commit = 0
innodb_lock_wait_timeout = 3600
innodb_buffer_pool_instances = 4
innodb_log_files_in_group = 2

# Logging
slow_query_log=1
slow_query_log_file=/tmp/mysql-slow.log
long_query_time=5
log_queries_not_using_indexes=1
